<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

Enter a search term to locate airports.
<p/>
<form action="airport" method="post">
    Airport Search Term : <input type="text" name="value" value="<%= results %>" /><input type="submit"/></form><p/>

<% if (results) { %>
    <h2> Search Results For "<%= results %>" </h2>
<% } %>

    <% for(var i=0; i<searchItems.length; i++) {%>
   <li><%= searchItems[i].itemName %> <br/>
   	<a target="gmap" href="https://maps.google.com/maps?q=<%= searchItems[i].lat %>,<%= searchItems[i].lon %>">
<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= searchItems[i].lat %>,<%= searchItems[i].lon %>&zoom=11&size=400x400&sensor=false">
</a>
   </li>
<% } %>
  </body>
</html>